.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flx-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.al-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  opacity: 0, 8;
}

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}